body {
    
	font-family: 'Raleway', sans-serif;

}

h1 {
	font-family: 'Shrikhand', cursive; 
    color: Salmon;
    margin-left: 20px;
}
p {
	color: LightYellow;
	margin-left: 10px;
	font-size: 18x;
	font-family: 'Raleway', sans-serif;

}
h3 {
	color:snow ;
	margin-left: 12px;
	font-family: 'Raleway', sans-serif;

	
}
h4 {
	font-family: 'Shrikhand', cursive; 
	font-size: 19px;
	color: snow; 
}

h5{
		font-family: 'Shrikhand', cursive; 
		color:LightYellow
}
